#main-content {
    height: 100%;
  }
  
  .main-content-area {
    --background: var(--ion-background-color);
  }
  
  .header-content {
    display: flex;
    
    .header-logo {
      height: 28px;
      width: auto;
    }
  }
  

  